@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --gradient: linear-gradient(90deg, #92effd 0%, #4e65ff 100%);
  --color-main: #4e65ff;
  --color-secondary: #92effd;
  --shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

i {
  color: var(--color-main);
  font-size: 15px;
}

button:focus,
input:focus {
  outline: none;
}

body {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient);
  overflow: hidden;
}

.container {
  height: 90vh;
  width: 95%;
  border-radius: 20px;
  display: flex;
  box-shadow: var(--shadow);
}

.form-search,
.form-btn {
  padding: 14px;
  position: relative;
  z-index: 5;
  height: 50px;
}

.form {
  display: flex;
  margin-top: 90px;
}

.form-search {
  border-radius: 25px;
  width: 650px;
  background-color: var(--color-white);
  border: 0;
  padding: 14px;
}

.form-btn {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border: 0;
  background-color: var(--color-black);
  margin-left: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.form-btn:hover {
  cursor: pointer;
}

.form-btn .fa-search {
  font-size: 20px;
  color: var(--color-white);
}

main {
  width: 76%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

main::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
  opacity: 0.05;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.weather-container {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 12px 30px;
  color: var(--color-white);
  position: relative;
  z-index: 5;
  background: var(--color-main);
  opacity: 0.92;
  border-bottom-left-radius: 20px;
}

.weather-container__temp-box {
  display: flex;
  margin-right: 60px;
  position: relative;
}

.weather-container__temp {
  font-size: 90px;
  margin: 0;
}

.weather-container__temp::after {
  width: 15px;
  height: 15px;
  top: 24px;
  right: -27px;
  border: 5px solid white;
}

.temp {
  position: relative;
}

.temp::after {
  position: absolute;
  content: "";
  display: block;
  border-radius: 50vh;
}

.weather-container__town {
  font-weight: 700;
  margin-bottom: 8px;
}

.weather-container__state {
  font-weight: 300;
}

.weather-container__date {
  font-size: 16px;
}

.aside {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  padding: 35px 0;
  width: 24%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
}

.aside ul,
.aside .box {
  display: none;
}

.aside ul {
  padding: 0 0 25px 0;
}

.aside__weather-details,
.box {
  width: 85%;
  margin: 0 0 25px 0;
}

.aside ul {
  border-bottom: 2px solid var(--color-main);
}

.aside .box:last-child ul {
  border: 0;
}

.box {
  flex-direction: column;
}

.aside__weather-details li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.aside__weather-details p,
.aside__weather-details span {
  font-size: 15px;
}

.aside__weather-details p {
  color: var(--color-main);
  font-weight: 700;
}

.aside__weather-details span {
  font-weight: 700;
}

.aside__hourly,
.aside__daily {
  justify-content: space-between;
  padding: 0 10px;
}

.aside__hourly li,
.aside__daily li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aside__temperature {
  font-size: 40px;
}

.aside__temperature::after {
  border: 3px solid var(--color-black);
  width: 8px;
  height: 8px;
  top: 8px;
  right: -16px;
}

.aside__number {
  font-size: 20px;
  margin-bottom: 4px;
}

.aside__daily-icon {
  width: 65px;
}
